<a href="https://colab.research.google.com/github/hedy233/NMA-pheasant-detectives/blob/main/NMA_pheasant_detectives_update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/hedy233/NMA-pheasant-detectives.git

Cloning into 'NMA-pheasant-detectives'...
remote: Enumerating objects: 44, done.
remote: Counting objects: 100% (44/44), done.
remote: Compressing objects: 100% (44/44), done.
remote: Total 44 (delta 12), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (44/44), done.

In [2]:
!ls NMA-pheasant-detectives/

ERP_sub_1.npz  ERP_sub_7.npz			      power_sub_2.npz
ERP_sub_4.npz  facehouse_5sub_respdata_2nd_0719.xlsx  power_sub_3.npz
ERP_sub_5.npz  NMA_pheasant_detectives.ipynb	      power_sub_4.npz
ERP_sub_6.npz  power_sub_1.npz			      power_sub_5.npz

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
behav = pd.ExcelFile('NMA-pheasant-detectives/facehouse_5sub_respdata_2nd_0719.xlsx')
behav_sub1 = pd.read_excel(behav,'sub1')
behav_sub4 = pd.read_excel(behav,'sub4')
behav_sub5 = pd.read_excel(behav,'sub5')
behav_sub6 = pd.read_excel(behav,'sub6')
behav_sub7 = pd.read_excel(behav,'sub7')
behav_allsub_raw = pd.read_excel(behav,'all_sub_raw')
behav_note = pd.read_excel(behav,'note')

In [7]:
behav_sub1

      sub  stim_id  stim_noise  ...  key_press  resp_acc  resp_time
0    sub1        1         100  ...        NaN       NaN        NaN
1    sub1        2           5  ...        NaN       NaN        NaN
2    sub1        3          85  ...        NaN       NaN        NaN
3    sub1        4          65  ...        NaN       NaN        NaN
4    sub1        5          40  ...        NaN       NaN        NaN
..    ...      ...         ...  ...        ...       ...        ...
625  sub1      626          50  ...        NaN       NaN        NaN
626  sub1      627          60  ...        NaN       NaN        NaN
627  sub1      628          40  ...        NaN       NaN        NaN
628  sub1      629          75  ...        NaN       NaN        NaN
629  sub1      630          80  ...        NaN       NaN        NaN

[630 rows x 9 columns]

In [8]:
sub1_erp = np.load('NMA-pheasant-detectives/ERP_sub_1.npz')
sub4_erp = np.load('NMA-pheasant-detectives/ERP_sub_4.npz')
sub5_erp = np.load('NMA-pheasant-detectives/ERP_sub_5.npz')
sub6_erp = np.load('NMA-pheasant-detectives/ERP_sub_6.npz')
sub7_erp = np.load('NMA-pheasant-detectives/ERP_sub_7.npz')

In [9]:
sub1_erp.files

['args', 'kwds']

In [10]:
sub1_erp['args']

array([[[ 0.03398619, -0.00972891,  0.02648888, ..., -0.1917874 ,
         -0.03158203, -0.17645429],
        [ 0.03601278, -0.01760111,  0.02078784, ..., -0.20095062,
         -0.03004425, -0.17882761],
        [ 0.03886743, -0.02260424,  0.01544977, ..., -0.20658764,
         -0.02586596, -0.17554426],
        ...,
        [-0.13995557,  0.01586223,  0.03302855, ..., -0.13187364,
         -0.10506083, -0.10352155],
        [-0.13744596,  0.00944735,  0.02395178, ..., -0.13719258,
         -0.1042358 , -0.09980961],
        [-0.13567197,  0.00471361,  0.01604714, ..., -0.14189823,
         -0.1032114 , -0.09573023]],

       [[-0.01816528, -0.00604618, -0.00101893, ..., -0.02036382,
          0.07941858, -0.0057542 ],
        [-0.01515562, -0.00572345, -0.00515897, ..., -0.02327419,
          0.08328454, -0.00878499],
        [-0.01164428, -0.00237838, -0.00705305, ..., -0.02396444,
          0.08759743, -0.0087402 ],
        ...,
        [-0.06168099, -0.02017881,  0.0877213 , ..., -0.02492167,
          0.06328884,  0.04422656],
        [-0.06298135, -0.02582482,  0.08662295, ..., -0.02581277,
          0.06614278,  0.03900864],
        [-0.0624447 , -0.03129386,  0.08755536, ..., -0.02321189,
          0.07467262,  0.04049971]],

       [[-0.00725393, -0.03487793, -0.03388311, ..., -0.02356053,
          0.07501037,  0.06991944],
        [-0.01118785, -0.04188474, -0.03505692, ..., -0.02066917,
          0.07440127,  0.06607331],
        [-0.01168416, -0.0435172 , -0.03220925, ..., -0.0167894 ,
          0.07399951,  0.06813632],
        ...,
        [ 0.03380727, -0.03897526,  0.06837301, ...,  0.19116539,
          0.15264511, -0.18428896],
        [ 0.03827872, -0.03939692,  0.07099693, ...,  0.18598244,
          0.15530863, -0.18980095],
        [ 0.04320778, -0.03819446,  0.07536626, ...,  0.1818396 ,
          0.15813151, -0.18928002]],

       [[-0.2067602 ,  0.03095301,  0.10739383, ...,  0.14123662,
          0.15537156, -0.06286801],
        [-0.20417944,  0.02590623,  0.10721217, ...,  0.1478481 ,
          0.16433385, -0.06133606],
        [-0.20123836,  0.01891055,  0.10208666, ...,  0.15153934,
          0.17277728, -0.0615101 ],
        ...,
        [-0.05389538,  0.07754429, -0.09128162, ..., -0.1295034 ,
          0.139527  ,  0.05382533],
        [-0.05146974,  0.07919223, -0.0912267 , ..., -0.12820545,
          0.140602  ,  0.06003423],
        [-0.04888324,  0.07535317, -0.09087288, ..., -0.1251069 ,
          0.14173031,  0.0612199 ]]], dtype=float32)

In [11]:
sub1_erp['kwds']

array(['face_45', 'face_50', 'house_45', 'house_50'], dtype='<U8')